# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock
.npmrc

# Build
dist
build
*.tsbuildinfo

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local
.env.*.local

# Testing
coverage
.vitest
